.btn {
  font-family: var(--font-secondary);
  transition: all 0.2s;
  min-width: 120px;
  padding: 10px 20px;
  font-size: 1rem;
  background: var(--secondary);
  text-transform: uppercase;
  color: var(--bright);
  outline: none;
  cursor: pointer;
  height: 50px;
}

.btn:hover {
  background: var(--bright);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-weight: bold;
}
