.form-control {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
  position: relative;
  color: var(--primary);
}

.form-control.ko {
  color: var(--ko);
}

.form-control.ok {
  color: var(--ok);
}

input {
  font-family: var(--font-primary);
  flex: 1;
  font-size: 1rem;
  border: 2px solid;
  padding: 10px;
  background: transparent;
  outline: none;
  color: inherit;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

input.search {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIzLjIzMyAyMS44NmwtNS43MTItNS45NGE5LjY1OSA5LjY1OSAwIDAwMi4yNzMtNi4yM2MwLTUuMzQzLTQuMzQ3LTkuNjktOS42OS05LjY5QzQuNzYzIDAgLjQxNSA0LjM0Ny40MTUgOS42OWMwIDUuMzQzIDQuMzQ4IDkuNjkgOS42OSA5LjY5YTkuNTg2IDkuNTg2IDAgMDA1LjU1Mi0xLjc1M2w1Ljc1NSA1Ljk4NWMuMjQxLjI1LjU2NS4zODguOTExLjM4OGExLjI2NSAxLjI2NSAwIDAwLjkxLTIuMTR6TTEwLjEwNSAyLjUyOGMzLjk0OSAwIDcuMTYyIDMuMjEzIDcuMTYyIDcuMTYyIDAgMy45NS0zLjIxMyA3LjE2Mi03LjE2MiA3LjE2Mi0zLjk1IDAtNy4xNjMtMy4yMTMtNy4xNjMtNy4xNjIgMC0zLjk1IDMuMjEzLTcuMTYyIDcuMTYzLTcuMTYyeiIgZmlsbD0iI0Y4QzUxRCIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}

label {
  font-family: var(--font-primary);
  font-size: var(--font-size-m);
  color: inherit;
  display: block;
  margin-bottom: 0.5rem;
}

.errorMessage {
  position: absolute;
  top: 75px;
  font-size: 0.8rem;
  color: var(--ko);
}
